#home
  .logo
    = image_tag "logo-darkbg.png", alt: "CodeMonk"
  .message
    .caption
      Business Technology, by the Best in the Technology Business
    .comming-soon
      Comming Soon
      %span.elipses ...
  .footer
    = mail_to "h@codemonk.in", "h@codemonk.in", class: "contact-us"
